{% extends "base.html" %}

{% block content %} 
    <div class="my-5 text-center container">
        <h1>Welcome to ImLiterate!</h1>
        <p>ImLiterate helps young students better learn English. Simply upload the text you want to learn about 
            and utilize our built in dictionary along with our text to speech software!</p>

        <div class="box">
            <form action="{% url 'upload' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Get Started</button>
            </form>
            
        </div>

    </div>

{% endblock %}