{% extends "base.html" %}

{% block content %} 
    <div class="my-5 text-center container">
        <h1>Welcome to ImLiterate!</h1>
        <p>ImLiterate helps young students better learn English. Simply upload the text you want to learn about 
            and utilize our built in dictionary along with our text to speech software!</p>

        {% if user.is_authenticated %}
        <div class="box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document">
                <button type="submit" class="btn btn-secondary">Upload File</button>
            </form>
            
            <form action="{% url 'viewer' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit for Reading</button>
            </form>
            
        </div>

        {% else %}
        <div class="container text-center">
            <h4>Please login to continue. If you don't have an account, sign up above!</h3>
        {% endif %}
    </div>

{% endblock %}