.box
{
    outline: black 2px solid;
    color: black;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    position: relative;
    left: 25rem;
    top: 10rem;
    transition: 0.2s ease-in-out;
}

.viewer_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.word
{
    display: inline-block;
    padding: 0px;
}

.word:hover
{
    cursor: pointer;
    background-color: gray;
}

.paragraph_box
{
    outline: black 2px solid;
    color: black;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 20px;
    width: 100%;
    min-width: 500px;
    max-width: 700px;
    min-height: 500px;
    transition: 0.2s ease-in-out;
}

.definition_box
{
    outline: black 2px solid;
    color: black;
    margin: 2rem;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    min-height: 500px;
    transition: 0.2s ease-in-out;
}

#part_of_speech
{
    text-align: left;
}

#definitions
{
    text-align: left;
}